<div>
    <nav>
      <div class="nav-wrapper menu accent-4">
        <a [routerLink]="'/'" class="brand-logo item-menu">CostApp</a>
        <a [routerLink]="'/'" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu-sidenav">menu</i></a>
        <ul class="right hide-on-med-and-down item-group">
          <li *ngIf="user"><a class="item-menu" [routerLink]="'/expense'">Expenses</a></li>
          <li *ngIf="user"><a class="item-menu" [routerLink]="'/infoUser'">My Info</a></li>
          <li *ngIf="user"><a class="item-menu" [routerLink]="'/'">{{ user.username.toUpperCase() }}</a></li>
          <li *ngIf="user" (click)="accionSignOut()"><a class="item-menu" href="#">Sign Out</a></li>
          <li *ngIf="!user"><a class="item-menu" [routerLink]="'/login'">Login</a></li>
          <li *ngIf="!user"><a class="item-menu" [routerLink]="'/'">Sign In</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li *ngIf="user"><a class="item-menu" [routerLink]="'/expense'">Expenses</a></li>
      <li *ngIf="user"><a class="item-menu" [routerLink]="'/infoUser'">My Info</a></li>
      <li *ngIf="user"><a class="item-menu" [routerLink]="'/'">{{ user.username.toUpperCase() }}</a></li>
      <li *ngIf="user" (click)="accionSignOut()"><a class="item-menu" href="#">Sign Out</a></li>
      <li *ngIf="!user"><a class="item-menu" [routerLink]="'/login'">Login</a></li>
      <li *ngIf="!user"><a class="item-menu" [routerLink]="'/'">Sign In</a></li>
    </ul>
</div>

