<div>
    <nav>
      <div class="nav-wrapper #00bfa5 teal accent-4">
        <a [routerLink]="'/'" class="brand-logo">CostApp</a>
        <a [routerLink]="'/'" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li *ngIf="user"><a [routerLink]="'/'">Egresos</a></li>
          <li *ngIf="user"><a [routerLink]="'/'">User</a></li>
          <li *ngIf="user" (click)="accionSignOut()"><a href="#">Sign Out</a></li>
          <li *ngIf="!user"><a [routerLink]="'login'">Login</a></li>
          <li *ngIf="!user"><a [routerLink]="'/'">Sign In</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li *ngIf="user"><a [routerLink]="'/'">Egresos</a></li>
      <li *ngIf="user"><a [routerLink]="'/'">User</a></li>
      <li *ngIf="user" (click)="accionSignOut()"><a href="#">Sign Out</a></li>
      <li *ngIf="!user"><a [routerLink]="'login'">Login</a></li>
      <li *ngIf="!user"><a [routerLink]="'/'">Sign In</a></li>
    </ul>
</div>

