/* You can add global styles to this file, and also import other style files */
.h1-strong {
  border-bottom: 1px solid #eee;
}


/* Login */
.card-position {
  margin-top: 50px;
  position: relative;
}
